Term Project/ta-research-topics.pdf
Term Project/ta-term-project(1).pdf
Term Project/Report_draft_temp.pdf.DS_Store
Term Project/Dataset/
Term Project/Project_Technical_Context.txt
Peer Review/
TA-Submission/Dataset/*