Term Project/ta-research-topics.pdf
Term Project/ta-term-project(1).pdf
Term Project/Report_draft_temp.pdf.DS_Store
Term Project/Dataset/
Term Project/Project_Technical_Context.txt
Peer Review/
TA-Submission/Dataset/*
TA_Monitor_Sheet_updated.xlsx
Individual Contributions - Group 2.txt
Mid Term TA Contribution Statement - Tanmay.txt